*{
    margin: 0;
}
h1 {
    color: darkmagenta;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
article{
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px 0 ;
}
.post-blue{
    background-color: gainsboro;
}
.post-yellow{
    background-color: beige;
}
h4 {
    color: rgba(216, 112, 147, 0.687);
    text-align: center;
    font-size: 30px;
}
img {
    display: block;
    margin:30px auto 20px;
    width: 400px;
    
   }
p {
    font-size: 20px;
    text-align: center;
    padding: 50px;
}
